@font-face {
    font-family: 'Bakemono Stereo Trial';
    src: url('./fonts/bakemono/BakemonoStereoTrial-Regular.woff2') format('woff2'),
        url('./fonts/bakemono/BakemonoStereoTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bakemono Stereo Trial';
    src: url('./fonts/bakemono/BakemonoStereoTrial-Extrabold.woff2') format('woff2'),
        url('./fonts/bakemono/BakemonoStereoTrial-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-color: lightcoral;
    --color-primary:;
    --color-secondary:;
    --color-success;
    --color-error:;
    
    --font-heading: 'Bakemono Stereo Trial';
    --font-base: 'Bakemono Stereo Trial';
    --font-mono:;

    --max-content-width: 34ch;
    --min-content-width: 25ch;
    --content-line-height: 1.7;

    --font-size-header: 2rem;
    --font-size-subheader: 1.7rem;
    --font-size-base: 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bakemono Stereo Trial';
}

.banner {
    background: url("./img/flcl-banner.webp") black repeat;
    background-size: contain;
    width: clamp(50px, calc(30px + 20vw),300px)
}
main {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
section {
    flex: 1;
    border: 1px solid gray;
    padding: 0 clamp(1rem, 1rem + 5vw, 5rem);
}
p {
    width: clamp(var(--min-content-width), var(--min-content-width) + 10vw, var(--max-content-width));
    line-height: var(--content-line-height);
}

