@font-face {
    font-family: 'Bakemono Stereo Trial';
    src: url('./fonts/bakemono/BakemonoStereoTrial-Regular.woff2') format('woff2'),
        url('./fonts/bakemono/BakemonoStereoTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bakemono Stereo Trial';
    src: url('./fonts/bakemono/BakemonoStereoTrial-Extrabold.woff2') format('woff2'),
        url('./fonts/bakemono/BakemonoStereoTrial-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-accent: #0288c6;
    --color-background: #ffd2a9;
    --color-primary:;
    --color-secondary:;
    --color-success: green;
    --color-error: #e23c40;
    
    --font-heading: 'Bakemono Stereo Trial';
    --font-base: 'Bakemono Stereo Trial';
    --font-mono:;

    --max-content-width: 34ch;
    --min-content-width: 25ch;
    --content-line-height: 1.7;

    --font-size-header: 3rem;
    --font-size-subheader: 1.8rem;
    --font-size-base: 1rem;
    --font-size-small: 0.6rem;
    --line-height-base: 1.7;
    --letter-spacing-tight: -0.01rem;

    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xlg: 5rem;
    
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Bakemono Stereo Trial';
}

/*SIDE BANNER SECTION*/
.banner {
    background: url("./img/flcl-banner.webp") black repeat;
    background-size: contain;
    width: clamp(50px, calc(30px + 20vw),300px)
}

/*MAIN GENERAL SECTIONS*/
main, section {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    font-size: var(--font-size-base);
    background: var(--color-background);
    
}
section {
    padding: 0 clamp(1rem, 1rem + 5vw, 5rem);
}
p {
    max-width: var(--max-content-width);
    min-width: var(--min-content-width);
    line-height: var(--content-line-height);
}

/* HERO HEADER SECTION*/
.hero-header {
    font-size: var(--font-size-header);
    margin-top: var(--spacing-xlg);
}

/*FORMS SECTION*/
.form-section {
    background: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
    border: 1px solid gray;
}
legend {
    font-size: var(--font-size-subheader);
}

form {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-md);
    padding: var(--spacing-lg) 0;
}
form > div {
    display: flex;  
    flex-flow: row wrap;    
    gap: var(--spacing-xlg);
}
form > div > div {
    flex: 1;
}

.inp-field {
    display: flex;
    flex-flow: column wrap;
}

form label {
    font-size: var(--font-size-small);
}

input:focus {
    outline: none;
    border: 1px solid var(--color-accent);
    box-shadow: 0 0.1rem 0.2rem gray;
}
input:invalid:not(:placeholder-shown) {
    outline: none;
    border: 1px solid var(--color-error);
}

input[type="submit"] {
    background: var(--color-accent);
    color: white;
    font-weight: bold;
    font-size: var(--font-size-base) - 0.1rem;
    border-radius: 3px;
    outline: none;
    font-family: 'Bakemono Stereo Trial';
    align-self: flex-start;
    padding: 0.3rem 1rem;
}
input:validnot(:placeholder-shown) {
    outline: none;
    border: 1px solid var(--color-success);
}